### 1. String

In [1]:
message = 'Hello World'

In [2]:
print(message)

Hello World

In [59]:
print(type(message))

<class 'str'>

In [4]:
x = 'your\'s world'

In [5]:
print(x)

your's world

In [7]:
news = """COVID19 situation is getting
worse everyday.
"""

In [9]:
print(news)

COVID19 situation is getting
worse everyday.

In [12]:
print(len(message))

11

In [14]:
message[0:5]

'Hello'

In [22]:
print(message.count('ll'))

1

In [23]:
print(message.upper())

HELLO WORLD

In [25]:
print(news.find('19'))

5

In [29]:
print(news.replace('t','###',3))

COVID19 si###ua###ion is ge###ting
worse everyday.

In [33]:
greeting = 'Hello'

In [34]:
name = 'Bobby'

In [36]:
greeting_message = greeting + ' ' + name +'!'

In [37]:
print(greeting_message)

Hello Bobby!

In [47]:
x = f'{greeting} {name}! How are you man ?'

In [48]:
print(x)

Hello Bobby! How are you man ?

In [50]:
person = {'name':'Mane','age':25}

In [57]:
sentence = 'My name is {} and i am {} years old.'.format(person['name'],person['age'])

In [58]:
print(sentence)

My name is Mane and i am 25 years old.

### 2. Integers and Floats

In [60]:
num1 = 2

In [61]:
print(type(num1))

<class 'int'>

#### Arithmetic Operators and builtin functions

In [62]:
num2 = 3

In [63]:
print(num1+num2)

5

In [64]:
print(num1*num2)

6

In [65]:
print(num2/num1)

1.5

In [66]:
print(num2%num1)

1

In [68]:
##floor division
print(num2//num1)

1

In [71]:
num3 = -3.567

In [72]:
print(abs(num3))

3.567

In [73]:
print(round(num3))

-4

In [74]:
#casting
num4 = '100'
num5 = '300'

In [75]:
print(num4+num5)

100300

In [76]:
print(int(num4)+int(num5))

400

### 3. Lists, Tuples & Sets

##### Lists

In [77]:
courses = ['Physics','ComSc','Math','Analytics','History']

In [78]:
print(type(courses))

<class 'list'>

In [79]:
print(len(courses))

5

In [80]:
#indexing
courses[0]

'Physics'

In [81]:
courses[0:3]

['Physics', 'ComSc', 'Math']

##### Adding more elements to an existing list can be done via different options. Append,Insert,Extend

In [82]:
courses.append('Python')

In [84]:
courses

['Physics', 'ComSc', 'Math', 'Analytics', 'History', 'Python']

In [85]:
courses.append('Java')

In [86]:
courses

['Physics', 'ComSc', 'Math', 'Analytics', 'History', 'Python', 'Java']

In [87]:
courses_2 = ['sql','hive']

In [88]:
courses.insert(0,courses_2)

In [89]:
courses

[['sql', 'hive'],
 'Physics',
 'ComSc',
 'Math',
 'Analytics',
 'History',
 'Python',
 'Java']

In [90]:
courses.insert(1,'golang')

In [91]:
courses

[['sql', 'hive'],
 'golang',
 'Physics',
 'ComSc',
 'Math',
 'Analytics',
 'History',
 'Python',
 'Java']

In [92]:
courses.insert(0,1)

In [93]:
courses

[1,
 ['sql', 'hive'],
 'golang',
 'Physics',
 'ComSc',
 'Math',
 'Analytics',
 'History',
 'Python',
 'Java']

In [101]:
courses.extend(courses_2)

In [102]:
courses

[1,
 ['sql', 'hive'],
 'golang',
 'Physics',
 'ComSc',
 'Math',
 'Analytics',
 'History',
 'Python',
 'Java',
 'sql',
 'hive',
 'sql',
 'hive']

In [98]:
list1 = ['a','b']
list2 = ['c','d']

In [99]:
list1.extend(list2)

In [100]:
list1

['a', 'b', 'c', 'd']

##### removing items from the list using - remove and pop method

In [103]:
print(courses)

[1, ['sql', 'hive'], 'golang', 'Physics', 'ComSc', 'Math', 'Analytics', 'History', 'Python', 'Java', 'sql', 'hive', 'sql', 'hive']

In [104]:
courses.remove('sql')

In [105]:
courses

[1,
 ['sql', 'hive'],
 'golang',
 'Physics',
 'ComSc',
 'Math',
 'Analytics',
 'History',
 'Python',
 'Java',
 'hive',
 'sql',
 'hive']

In [107]:
# pop. method returns a value which we can store in a variable
popped = courses.pop()

In [108]:
popped

'sql'

In [109]:
courses

[1,
 ['sql', 'hive'],
 'golang',
 'Physics',
 'ComSc',
 'Math',
 'Analytics',
 'History',
 'Python',
 'Java',
 'hive']

##### sorting in list --- sort and reverse method

In [110]:
courses.reverse()

In [111]:
courses

['hive',
 'Java',
 'Python',
 'History',
 'Analytics',
 'Math',
 'ComSc',
 'Physics',
 'golang',
 ['sql', 'hive'],
 1]

In [113]:
a = ['java','pyhton','hive','golang']

In [116]:
a.sort()

In [117]:
a

['golang', 'hive', 'java', 'pyhton']

In [118]:
b = [3,2,5,67,876]

In [121]:
b.sort(reverse=True)

In [122]:
b

[876, 67, 5, 3, 2]

In [127]:
sorted(b)

[2, 3, 5, 67, 876]

In [128]:
sum(b)

953

In [129]:
max(b)

876

In [130]:
min(b)

2

In [133]:
a.index('hive')

1

In [135]:
b.index(876)

0

In [136]:
'art' in a

False

In [137]:
64572 in b

False

In [138]:
3 in b

True

In [143]:
a

['golang', 'hive', 'java', 'pyhton']

In [144]:
for items in a :
    print('The course name is : ' + items)

The course name is : golang
The course name is : hive
The course name is : java
The course name is : pyhton

In [147]:
for index,items in enumerate(a, start=1):
    print(index,items)

1 golang
2 hive
3 java
4 pyhton

##### join and split method

In [148]:
a

['golang', 'hive', 'java', 'pyhton']

In [152]:
a_str = ', '.join(a)

In [156]:
a_str

'golang, hive, java, pyhton'

In [157]:
len(a_str)

26

In [154]:
a_new = a_str.split(', ')

In [155]:
a_new

['golang', 'hive', 'java', 'pyhton']

##### Tuples

In [158]:
tup1 = ('a','b','c','d','e')
tup2 = tup1

In [159]:
tup1

('a', 'b', 'c', 'd', 'e')

In [160]:
type(tup2)

tuple

In [161]:
tup2

('a', 'b', 'c', 'd', 'e')

In [162]:
for items in tup1:
    print(items)

a
b
c
d
e

In [163]:
tup_str = '--'.join(tup1)

In [164]:
tup_str

'a--b--c--d--e'

In [165]:
new_tup = tup_str.split('--')

In [166]:
new_tup

['a', 'b', 'c', 'd', 'e']

##### Sets

In [167]:
comp_course = {'java','c++','python','spark','Hive'}

In [168]:
art_course = {'hist','lit','spark'}

In [169]:
comp_course.intersection(art_course)

{'spark'}

In [170]:
comp_course.difference(art_course)

{'Hive', 'c++', 'java', 'python'}

In [171]:
comp_course.union(art_course)

{'Hive', 'c++', 'hist', 'java', 'lit', 'python', 'spark'}

In [172]:
type(art_course)

set

In [173]:
set1 = set()

In [174]:
set1

set()

In [175]:
set1.add('abc')

In [176]:
set1

{'abc'}

#### Dictionary

In [179]:
 profile = {'name':'Jose','DOB': '1993-05-09','nationality':'spain'}

In [180]:
type(profile)

dict

In [182]:
profile.keys()

dict_keys(['name', 'DOB', 'nationality'])

In [183]:
profile.values()

dict_values(['Jose', '1993-05-09', 'spain'])

In [184]:
profile.items()

dict_items([('name', 'Jose'), ('DOB', '1993-05-09'), ('nationality', 'spain')])

In [190]:
profile.update({'name':'Sadio','phone':'987654321'})

In [191]:
profile

{'name': 'Sadio',
 'DOB': '1993-05-09',
 'nationality': 'spain',
 'phone': '987654321'}

In [192]:
profile.get('phone')

'987654321'

In [195]:
profile.get('bank_account','Not Found')

'Not Found'